html {
    background-color: #e8e9e6;
    -webkit-font-smoothing: antialiased;
    background: #300;
    height: 100%;
}


h1{
    color: #298;
    font-weight: 101;
    line-height: 0.9rem;
    margin-left: 6.5rem;
    margin-top: auto;
}

h2{ color: black;
    font-size: 10;
    font-weight: 200;
}

h3{
    color: #298;
    font-weight: bold;
    font-size: 300%;
    line-height: 10rem;
    margin-left: 6rem;
    margin-top: auto;
}

body {
	margin: 0;
	padding: 0;
	overflow: scroll;
    height: 100%;
    width: 100%;
	background: #300;
	color: #555;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#page-wrapper {
	width: 850px;
    height: auto;
    margin-top: 0rem;
    min-height: 100%;
	margin: 0rem auto;
	padding: 1.5rem;
	background: #FFF;
	border-top: 5px solid #298;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}


#staticPic {
    position: absolute;
	float: left;
	width: 850px;
	height: 540px;
	border-radius: 5px;
    margin: auto;
	background: #1E1E1E url(pix/chandelier.JPG);
    background-size: cover;
}


#movingPic {
    position: absolute;
    float: left;
	width: 850px;
	height: 540px;
    border-radius: 5px;
    cursor: all-scroll;
}

#pix {
    width: 850px;
    height: 540px;
}

#info {	
	padding-left: 1rem;
    padding-top : 1rem;
    width: 350px;
    float: left;
}

#help
    { margin-left: 355px;
        font-size: "2";
        padding-top: 1rem;
            
    }


p {
	line-height: 0.5rem;
}

p2 {
    line-height: 0.1;
}

.hidden {
visibility: hidden
}

.unhidden {
visibility: visible
}
