body {
  display: grid;
  grid-template:
    'header header header header header header'
    'menu main main main main right'
    'menu help help help help help'
    'footer footer footer footer footer footer';
  grid-gap: 5px;
  background-color: #17252A;
  padding: 5px;

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header {
    grid-area: header;
    background-color: #2B7A78;
    text-align: center;
    border-radius: 10px;
}

.left-sidebar {
    grid-area: menu;
    background-color: #379683;
border-radius: 10px;
}

main {
    grid-area: main;
    background-color: #3AAFA9;
    padding: 1rem;
    text-align: center;
border-radius: 10px;
}

.right-sidebar {
    grid-area: right;
    background-color: #DEF2F1;
border-radius: 10px;
}

.help {
    grid-area: help;
    background-color: #FEFFFF;
    text-align: center;
border-radius: 10px;
}

.footer {
    grid-area: footer;
    background-color: #FEFFFF;
    text-align: left;
border-radius: 5px;
}

body {
    font-family: system-ui, sans-serif;
}

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}

ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

.teams {
    font-weight: bold
}

h1 {
    font-style: italic;
    justify-content: center;
    font-size: 50px;
}
.id {
    text-align: center;
}