body {
    display: grid;
   /*grid-template: auto 1fr auto / auto 1fr auto;*/
   /* grid-auto-columns: max-content; */
    grid-template-columns: 20% 20% 20% 20%
}

header {
    background: lightgreen;
    padding: 2rem;
    grid-column: 1 / 4;
    text-align: center;
}

.left-sidebar {
    background: lightblue;
    grid-column: 2 / 1;
}

main {
    background: coral;
    grid-column: 2/2;
    padding: 1rem;
    text-align: center;

}

.right-sidebar {
    background: yellow;
    grid-column: 3/3
}

footer {
    background: wheat;
    text-align: center;
    grid-column: 1 / 4;
}

body {
    font-family: system-ui, sans-serif;
}

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}

ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

.teams {
    font-weight: bold
}

h1 {
    font-style: italic;
    justify-content: center;
}